<h2>FLIGHT DETAILS</h2>
<h3>Flight Number : <%= @flight.flight_no%></h3>
<h3>Journey Date : <%= @flight.journey_date%></h3>
<h3>Arrival Time : <%= @flight.arr_time.strftime("%k:%M")%></h3>
<h3>Departure Time : <%= @flight.dep_time.strftime("%k:%M")%></h3>
<h3>Departure Terminal : <%= @flight.departing%></h3>
<h3>Arrival Terminal : <%= @flight.arriving%></h3>
<h3>Flight Status : <%= @flight.flight_status%></h3>
<h3>Seats Available : <%= @flight.seats_available%></h3>
<h3>Economy Seat Cost : Rs.<%= @flight.economy%></h3>
<h3>Business Seat Cost : Rs.<%= @flight.business%></h3>

<div>
    <% if params[:pid] != "" %>
        <%= link_to "Book Ticket", "/passengers/new/#{@flight.id}?pid=#{params[:pid]}" %>
    <% else %>
        <%= link_to "Book Ticket", "/passengers/new/#{@flight.id}"%>
    <% end %>
</div>