<h2>FLIGHT DETAILS</h2>
<h3>Flight Number : <%= @flight.flight_no%></h3>
<h3>Journey Date : <%= @flight.journey_date%></h3>
<h3>Arrival Time : <%= @flight.arr_time.strftime("%k:%M")%></h3>
<h3>Departure Time : <%= @flight.dep_time.strftime("%k:%M")%></h3>
<h3>Departure Terminal : <%= @flight.departing%></h3>
<h3>Arrival Terminal : <%= @flight.arriving%></h3>
<h3>Flight Status : <%= @flight.flight_status%></h3>
<h3>Seats Available : <%= @flight.seats_available%></h3>

<%# <div>
<%= link_to "Edit", edit_flight_path(@flight)%>
<%# <%= link_to "Delete", flight_path(@flight), method: :delete, data: { confirm: "This will delete all the flight's details. Are you sure?" }%>
<%# <%= link_to "Go to Home", "/passengers"%>
<%# </div>  %> 
<div>
<%# <%= link_to "Go Back", "/index"%> 
<%= link_to "Book Ticket", new_passenger_path(@flight)%>
</div>