<h1>USER LOGIN</h1>
<%= form_with model: @user, url: "/login" do |form|%>
<div>
<%= form.label "Username" %><br>
<%= form.text_field :username%>
<% @user.errors.full_messages_for(:username).each do |message| %>
<div><%= message %></div>
<% end %>
</div>

<div>
<%= form.label "User Contact" %><br>
<%= form.text_field :contact%>
<% @user.errors.full_messages_for(:contact).each do |message| %>
<div><%= message %></div>
<% end %>
</div>

<div>
<%= form.submit "Login"%>
</div>
<div>
<%= link_to "Signup", new_user_path(@user) %>
</div>
<% end %>
