


<div class="container">
  <h2 style="text-align:center">TRAVEL HISTORY</h2><br>
    <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr class="table-dark">
        <th><%= "Ticket Number"%> </th>
        <th><%=  "From"%> </th>
        <th><%=  "To"%> </th>
        <th><%=  "Date"%> </th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr class="table-light">
              <td><%= link_to ticket.id, ticket_path(ticket), class: "text-capitalize text-decoration-none text-primary"%></td>
              <td><%=ticket.flight.departing %></td>
              <td>  <%=ticket.flight.arriving %></td>
              <td>  <%=ticket.flight.journey_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>