<h2>TICKET DETAILS</h2>
<h3>Ticket Number : <%= @ticket.id%></h3>
<h3>Check-In Status : <%= @ticket.checkin_status%></h3>
<h3>Seat Class : <%= @ticket.seat_class%></h3>
<h3>Luggage (Free 5 Kgs +) : <%= @ticket.luggage%></h3>
<h3>Food : <%= @ticket.food%></h3>

<h2>FLIGHT DETAILS</h2>
<h3>Flight Number : <%= @ticket.flight.flight_no%></h3>
<h3>Journey Date : <%= @ticket.flight.journey_date%></h3>
<h3>Arrival Time : <%= @ticket.flight.arr_time.strftime("%k:%M")%></h3>
<h3>Departure Time : <%= @ticket.flight.dep_time.strftime("%k:%M")%></h3>
<h3>Departure : <%= @ticket.flight.departing%></h3>
<h3>Arrival : <%= @ticket.flight.arriving%></h3>
<h3>Cost : Rs.<%= @ticket.cost%></h3>




<div>
<%# <%= link_to "Edit", edit_ticket_path(@ticket)%>
<%# <%= link_to "Delete", ticket_path(@ticket), method: :delete, data: { confirm: "Are you sure?" } %> 
<%= link_to "Go to Home", "/passengers"%>
</div>