<h1>PASSENGER DETAILS</h1>
<%= form_with model: @passenger do |form|%>
    <div>
        <%= form.label "Passenger Name" %><br>
        <%= form.text_field :name%>
        <% @passenger.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label "Passenger Age"%><br>
        <%= form.text_field :age%>
        <% @passenger.errors.full_messages_for(:age).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label "Passenger Email" %><br>
        <%= form.text_field :email%>
        <% @passenger.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label "Passenger Contact" %><br>
        <%= form.text_field :contact%>
        <% @passenger.errors.full_messages_for(:contact).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.submit %>
    </div>
<% end %>