<h1>PASSENGER NAMES</h1>

<ul>
  <% @passengers.each do |passenger| %>
    <li>
      <%= link_to passenger.name, passenger %>
    </li>
  <% end %>
</ul>

<%= link_to " Create New Passenger", new_passenger_path %>
<%# <%= link_to "Flight Details", new_flight_path %> 
<%# <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> 
<%# <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> 

