<h1><%= @passenger.name%></h1>
<h1><%= @passenger.age%></h1>
<h1><%= @passenger.email%></h1>
<h1><%= @passenger.contact%></h1>

<div>
<%= link_to "Edit", edit_passenger_path(@passenger)%>
<%= link_to "Delete", passenger_path(@passenger), method: :delete, data: { confirm: "Are you sure?" }%>
<%= link_to "Go to Home", root_path%>
</div>